{% extends "base.html" %}
{% load extra_tags %}

//************************************************
// Attach page-specific javascripts
//************************************************

{% block javascript %}
<link rel="stylesheet" href="/static_media/css/autoSuggest.css" type="text/css"
	media="screen" />
<script src="/static_media/js/jquery.tablesorter.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static_media/js/jquery.equalHeight.js"></script>
<script type="text/javascript" src="/static_media/js/jquery.autoSuggest.packed.js"></script>
<script type="text/javascript" src="/static_media/js/jquery.form.js"></script>
<script type="text/javascript" src="/static_media/js/spin.min.js"></script>
<script type="text/javascript">
	/************** Make all columns equal height **************/
	$(function() {
		$('.column').equalHeight();
	});
	
	/************** Add item to auto sugget to exp_list and make ready **************/
	var itemList = new Array();
	var tmp;
	{% for bench in speccpu %}
		tmp = {value: "{{ bench }}", name: "{{ bench }}"};
		itemList.push(tmp);
	{% endfor %}
	
	var data = {items : itemList};
	$(function() {
		$('#excl_bench').autoSuggest(data.items,
			{selectedItemProp: "name", 
			searchObjProps: "name",
			startText: "Enter benchmarks to exclude",
			asHtmlID: "1"});
	});
	
	/************** Add item to auto sugget to baseExpList and make ready **************/
	var baseExpList = new Array();
	var tmp;
	{% for cur in baseExp %}
		tmp = {value: "{{ cur }}", name: "{{ cur }}"};
		baseExpList.push(tmp);		
	{% endfor %}
	var expData = {items : baseExpList};
	$(function() {
		$('#baseExp').autoSuggest(expData.items,
			{selectedItemProp: "name", 
			searchObjProps: "name",
			startText: "Enter experiment types to run",
			asHtmlID: "2"});
	});

	/************** Add item to auto sugget to extExpList and make ready **************/
	var extExpList = new Array();
	var tmp;
	{% for cur in extExp %}
		tmp = {value: "{{ cur }}", name: "{{ cur }}"};
		extExpList.push(tmp);		
	{% endfor %}
	var extData = {items : extExpList};
	$(function() {
		$('#extExp').autoSuggest(extData.items,
			{selectedItemProp: "name", 
			searchObjProps: "name",
			startText: "Choose extended experiment types to EXCLUDE",
			asHtmlID: "3"});
	});
</script>
{% endblock %}

//************************************************
// Javascripts to run on document ready
//************************************************

{% block onready %}
$(".tablesorter").tablesorter();
$("#accordion").tabs("#accordion div.pane", {
	tabs : 'h2',
	effect : 'slide',
	initialIndex : null
});

// ******** Make select all clickable ********
 $('.checkall').click(
		function() {
			$(this).parents('fieldset:eq(0)').find(':checkbox')
					.attr('checked', this.checked);
});
 
 // ********** Show response after done **********
 var spinner = new Spinner(opts);
 function showResponse(responseText, statusText, xhr, $form)  {
 		spinner.stop();
		var baseUrl = getBaseURL();
		window.location.href = baseUrl + "config/getCondor";
}
// ********** Submit needed values to server **********

 $('#run').click(
 	function() {
 		if($("#id_binFile").val() == "") {
 			document.getElementById("errorMsg").style.display = "block";
 			return false;
 		}
 		document.getElementsByName('darkBackgroundLayer')[0].style.display='';
 		var target = document.getElementById('argForm');
		spinner.spin(target);
 		var options = {
 			url: '/config/runExp',
 			success: showResponse
 		};
 		$("#argForm").ajaxSubmit(options);
 		return false;
 	}); 
{% endblock %}


//************************************************
// Breadcrumbs
//************************************************
{% block breadcrumbs %}
<div class="breadcrumbs_container">
	<article class="breadcrumbs">
		<a href="/config">New Simulation</a>
		<div class="breadcrumb_divider"></div>
		<a href="/config/getCondor">Condor Status</a>
	</article>
</div>
{% endblock %}

//************************************************
// Config block contents
//************************************************
{% block content %}
<section id="main" class="column">
{% if curExp %}
<h4 class="alert_info">
{{curExp}} is currently running. Running a new experiment will delete previous jobs
</h4>
{% endif %}
<form name="argForm" id="argForm" action="" method="post" enctype="multipart/form-data">
	<article class="module width_full">
	<div id="accordion">
		<header>
		<h2 class="current">Arguments</h2>
		</header>
		<div class="pane" style="display: block">

			<!-- EXPERIMENT NAME -->
			<fieldset>
				<label>Experiment Name</label> <b style="margin-left:10px">{{ expName }}</b>
				<input type="hidden" id="expName" name="expName" value="{{ expName }}" />		
			</fieldset>
			
			<!-- END PATH TO EXECUTABLE -->
			
			<!-- PATH TO EXECUTABLE -->
			<fieldset>
				{{ binFile }}
				<div id="errorMsg" style="color:red; margin-left:10px; display:none;">Please choose file to upload</div>
			</fieldset>
			<!-- END PATH TO EXECUTABLE -->

			
			<!-- BENCHMARK SUITES -->
			<fieldset>
				<label>Benchmark suite </label> <select id="bench"
					onchange="showForm()" name="benchsuite">
					<option value="speccpu">speccpu</option>
					<option value="spec2006">spec2006</option>
				</select>
			</fieldset>
			<!-- END BENCHMARK SUITES -->
			
			<!-- START SIZE PREF -->
			<fieldset>
				<label>Size Preference</label>
				<label class="sublabel">sizepref :</label><br /><input type="text" name="size_pref" id="size_pref" value="{{sizepref}}" />
				<label class="sublabel">size :</label><input type="text" name="size" id="size" value="{{size}}" />
			</fieldset>
			<!-- END SIZE PREF -->
			
			<!-- START COMMON ARGUMENT -->
			<fieldset>
				<label> Common Arguments</label>
				<textarea id="common" name="common" rows=4">{{common}}</textarea>
			</fieldset>
			<!-- END COMMON ARGUMENT -->
			
			<!-- START EXPERIMENT TYPE BASE -->
			<fieldset>
				<label>Base Experiment Types</label>
				<input type="text" id="baseExp" name="baseExp">
			</fieldset>
			<!-- END EXPERIMENT TYPE BASE -->
			
			<!-- START EXPERIMENT TYPE EXTENDED -->
			<fieldset>
					<label>Extended Experiment Types to EXCLUDE</label>
					<input type="text" id="extExp" name="extExp">
				</fieldset>
			<!-- END EXPERIMENT TYPE EXTENDED -->
		</div>
		<header>
		<h2>Miscellaneous Configurations</h2>
		</header>
		<div class="pane">
			<fieldset>
				<label>Use output / error / log</label>
				<input type="checkbox" class="usevalues" id="useOut" name="useOut" /> Use Output <br />
				<input type="checkbox" class="usevalues" id="useErr" name="useErr" /> Use Error <br />
				<input type="checkbox" class="usevalues" id="useLog" name="useLog" /> Use Log <br />
			</fieldset>
			
			<fieldset>
				<label> Benchmarks to Exclude </label>
				<input type="text" id="excl_bench" name="excl_bench">
			</fieldset>
			
			<fieldset>
			<label> pcm options </label>
				<input type="text" id="pcm_options" name="pcm_options" value="-mem_multiplier 16">
			</fieldset>
		</div>
	</div>
	</article>
	<!-- end of pane article -->
	<div class="spacer"></div>
	<input type="submit" id="run" value="Run Experiment">
</section>
</form>

<div class="darkenBackground" name="darkBackgroundLayer" id="darkBackgroundLayer"></div>
<script type="text/javascript" language="javascript">
		document.getElementsByName("darkBackgroundLayer")[0].style.display = "none";
		var opts = {
				  lines: 13, // The number of lines to draw
				  length: 7, // The length of each line
				  width: 4, // The line thickness
				  radius: 10, // The radius of the inner circle
				  rotate: 0, // The rotation offset
				  color: '#000', // #rgb or #rrggbb
				  speed: 1, // Rounds per second
				  trail: 60, // Afterglow percentage
				  shadow: false, // Whether to render a shadow
				  hwaccel: false, // Whether to use hardware acceleration
				  className: 'spinner', // The CSS class to assign to the spinner
				  zIndex: 2e9, // The z-index (defaults to 2000000000)
				  top: 'auto', // Top position relative to parent in px
				  left: 'auto' // Left position relative to parent in px
				};
</script>
{% endblock %}
