{% extends "base_table.html" %} 

//************************************************
// Attach page-specific javascripts
//************************************************
{% block javascript_table %}
{% endblock %}

//************************************************
// Javascripts to run on document ready
//************************************************

{% block onready_table %}
{% endblock %}

//************************************************
// Breadcrumbs
//************************************************

{% block breadcrumbs %}
<div class="breadcrumbs_container">
	<article class="breadcrumbs">
		<a href="/browse">Browse Data</a>
		<div class="breadcrumb_divider"></div>
		<a href="index.html">View Users</a>
	</article>
</div>
{% endblock %}

//************************************************
// Config block contents
//************************************************

{% block content %}
<section id="main">
<!--<div style="text-align:center; margin-top:10px">
<input type="submit" value="Stop">
<input type="submit" value="Restart">
<input type="submit" value="Delete">
</div> -->
<div class="demo_jui">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	<thead>
		<tr>
			<th>Submission Name</th>
			<th>Submission Time</th>
			<th>Experiment Name</th>
		</tr>
	</thead>
	<tbody>
		{% for exp in experiments %}
		<tr class="gradeA" name="{{exp.expName}}" id="{{exp.expName}}">
			<td class="center">{{exp.submissionName}}</td>
			<td class="center">{{exp.subdate}}</td>		
			<td class="center">{{exp.expName}}</td>	
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<th rowspan="1" colspan="1">
				<input type="text" name="search_sub_name" value="Search name" class="search_init" style="margin-left:0px">
			</th>
			<th rowspan="1" colspan="1">
				<input type="text" name="search_sub_name" value="Search time" class="search_init">
			</th>
			<th rowspan="1" colspan="1">
				<input type="text" name="search_sub_name" value="Search experiment" class="search_init">
			</th>
		</tr>
	</tfoot>
</table>
</div>
</section>
{% endblock %}
