{% extends "base_table.html" %} 

//************************************************
// Attach page-specific javascripts
//************************************************
{% block javascript_table %}
{% endblock %}

//************************************************
// Javascripts to run on document ready
//************************************************

{% block onready_table %}
{% endblock %}

//************************************************
// Breadcrumbs
//************************************************

{% block breadcrumbs %}
<div class="breadcrumbs_container">
	<article class="breadcrumbs">
		<a href="/config">New Simulation</a>
		<div class="breadcrumb_divider"></div>
		<a href="/config/getCondor">Condor Status</a>
	</article>
</div>
{% endblock %}

//************************************************
// Config block contents
//************************************************

{% block content %}
<section id="main">
<h4 class="alert_info">
	Condor not found. This is sample Condor status for demonstration.
</h4>

<div style="text-align:center; margin-top:10px">
<input type="submit" value="Stop">
<input type="submit" value="Restart">
<input type="submit" value="Delete">
</div>
<div class="demo_jui">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	<thead>
		<tr>
			<th>Job ID</th>
			<th>Benchmark Name</th>
			<th>Status</th>
			<th>Status Details</th>
		</tr>
	</thead>
	<tbody>
		<tr class="gradeU">
			<td class="center">13980.427.000</td>
			<td class="center">00.gzip</td>		
			<td class="center">R</td>	
			<td class="center">Job submitted from host</td>	
		</tr>
		<tr class="gradeU">
			<td class="center">13980.017.000</td>
			<td class="center">01.vim</td>		
			<td class="center">R</td>	
			<td class="center">Job was suspended</td>	
		</tr>
		<tr class="gradeU">
			<td class="center">13980.067.000</td>
			<td class="center">02.cat</td>		
			<td class="center">R</td>	
			<td class="center">Job was suspended</td>	
		</tr>
		<tr class="gradeU">
			<td class="center">13980.152.000</td>
			<td class="center">03.gun</td>		
			<td class="center">R</td>	
			<td class="center">Job submitted from host</td>	
		</tr>
		<tr class="gradeA">
			<td class="center">13980.571.000</td>
			<td class="center">09.tar</td>		
			<td class="center">C</td>	
			<td class="center">Job was completed</td>	
		</tr>
		<tr class="gradeA">
			<td class="center">13980.334.000</td>
			<td class="center">10.zip</td>		
			<td class="center">C</td>	
			<td class="center">Job was completed</td>	
		</tr>
		<tr class="gradeC">
			<td class="center">13980.118.000</td>
			<td class="center">04.grep</td>		
			<td class="center">E</td>	
			<td class="center">Job executing on host</td>	
		</tr>
		<tr class="gradeC">
			<td class="center">13980.056.000</td>
			<td class="center">05.top</td>		
			<td class="center">E</td>	
			<td class="center">Job executing on host</td>	
		</tr>
		<tr class="gradeX">
			<td class="center">13980.172.000</td>
			<td class="center">08.cd</td>		
			<td class="center">X</td>	
			<td class="center">Job was evicted</td>	
		</tr>
		<tr class="gradeX">
			<td class="center">13980.066.000</td>
			<td class="center">06.rm</td>		
			<td class="center">X</td>	
			<td class="center">Job was evicted</td>	
		</tr>
		<tr class="gradeX">
			<td class="center">13980.138.000</td>
			<td class="center">07.ui</td>		
			<td class="center">X</td>	
			<td class="center">Job was evicted</td>	
		</tr>

	</tbody>
</table>
</section>
{% endblock %}