{% extends "base.html" %}

//************************************************
// Attach page-specific javascripts
//************************************************

{% block javascript %}
<link rel="stylesheet" href="/static_media/css/demo_table_jui.css" type="text/css"
	media="screen" />
<link rel="stylesheet" href="/static_media/css/jquery-ui-1.8.4.custom.css" type="text/css"
	media="screen" />
<script type="text/javascript" src="/static_media/js/jquery.dataTables.js"></script>
{% block javascript_table %}
{% endblock %}
{% endblock %}

//************************************************
// Javascripts to run on document ready
//************************************************

{% block onready %}
$(document).ready(function() {
	var hasArgForm = document.getElementById("argForm")
	if(hasArgForm)
	{
		/* Create hidden fields for submission name and experiment names*/
		var subName = document.createElement("input");
		subName.setAttribute("type", "hidden");
		subName.setAttribute("name", "subName");
		subName.setAttribute("value", "");
		document.getElementById("argForm").appendChild(subName);
		var expName = document.createElement("input");
		expName.setAttribute("type", "hidden");
		expName.setAttribute("name", "expName");
		expName.setAttribute("value", "");
		document.getElementById("argForm").appendChild(expName);
		var pageUpdated = document.createElement("input");
		pageUpdated.setAttribute("type", "hidden");
		pageUpdated.setAttribute("id", "pageUpdated");
		pageUpdated.setAttribute("value", "true");
		document.getElementById("argForm").appendChild(pageUpdated);
	}
	
	/* Add a click handler to the rows - this could be used as a callback */
    $("#example tbody tr").click( function( e ) {
        if ( $(this).hasClass('row_selected') ) {
            $(this).removeClass('row_selected');
            if(hasArgForm) {
            	var remSubName = $(this).children("#subName").text();
            	var remExpName = $(this).children("#expName").text();
            	subName.setAttribute("value", 
            		subName.getAttribute("value").replace(remSubName+",",""));
            	expName.setAttribute("value", 
            		expName.getAttribute("value").replace(remExpName+",",""));
            	pageUpdated.setAttribute("value", "true");
            	metric_should_update = true;
            	benchmark_should_update = true;
            }
        }
        else {
            $(this).addClass('row_selected');
            if(hasArgForm) {
            	subName.setAttribute("value", 
            		subName.getAttribute("value") + $(this).children("#subName").text() + ",");
            	expName.setAttribute("value", 
            		expName.getAttribute("value") + $(this).children("#expName").text() + ",");		
            	pageUpdated.setAttribute("value", "true");
            	metric_should_update = true;
            	benchmark_should_update = true;
            }
        }
    });
    
    /* Add a click handler for the delete row */
    $('#delete').click( function() {
        var anSelected = fnGetSelected( oTable );
        if ( anSelected.length !== 0 ) {
            oTable.fnDeleteRow( anSelected[0] );
        }
    } );
    
    var asInitVals = new Array();
	oTable = $('#example').dataTable({
			"bJQueryUI": true,
			"sPaginationType": "full_numbers",
			"oLanguage": {
				"sSearch": "Search all columns:"
			}
		});
		
	$("tfoot input").keyup( function () {
        /* Filter on the column (the index) of this element */
        oTable.fnFilter( this.value, $("tfoot input").index(this) );
    } );
    
    /*
     * Support functions to provide a little bit of 'user friendlyness' to the textboxes in 
     * the footer
     */
    $("tfoot input").each( function (i) {
        asInitVals[i] = this.value;
    } );
     
    $("tfoot input").focus( function () {
        if ( this.className == "search_init" )
        {
            this.className = "";
            this.value = "";
        }
    } );
     
    $("tfoot input").blur( function (i) {
        if ( this.value == "" )
        {
            this.className = "search_init";
            this.value = asInitVals[$("tfoot input").index(this)];
        }
    } );
} );

/* Get the rows which are currently selected */
function fnGetSelected( oTableLocal )
{
    return oTableLocal.$('tr.row_selected');
}

{% block onready_table %}
{% endblock %}
{% endblock %}

//************************************************
// Breadcrumbs
//************************************************

//************************************************
// Config block contents
//************************************************
{% block content %}
{% endblock %}