<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>Experiment Preparation</title>
<link rel="stylesheet" href="/static_media/css/xbreadcrumbs.css" type="text/css"
	media="screen" />
<link rel="stylesheet" href="/static_media/css/layout.css" type="text/css"
	media="screen" />
<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"
	type="text/javascript"></script>
<script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>
<script src="/static_media/js/hideshow.js" type="text/javascript"></script>
{% block javascript %}
{% endblock %}

<script type="text/javascript">
	$(document).ready(
			function() {

				//When page loads...
				$(".tab_content").hide(); //Hide all content
				$("ul.tabs li:first").addClass("active").show(); //Activate first tab
				$(".tab_content:first").show(); //Show first tab content
				{% block onready %}
				{% endblock %}
				
				//On Click Event
				$("ul.tabs li").click(function() {

					$("ul.tabs li").removeClass("active"); //Remove any "active" class
					$(this).addClass("active"); //Add "active" class to selected tab
					$(".tab_content").hide(); //Hide all tab content

					var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
					$(activeTab).fadeIn(); //Fade in the active ID content
					return false;
				});

			});
</script>
<script type="text/javascript">
</script>

</head>


<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title">
				<a href="http://www.ece.cmu.edu/~safari/pubs.html">SAFARI Group</a>
			</h1>
			<h2 class="section_title">SDM : Simulation Data Management</h2>
			<div class="btn_view_site">
				<a href="#">Log Out</a>
			</div>
		</hgroup>
	</header>

	<!-- end of header bar -->

	<section id="secondary_bar">
		<div class="user">
			<p>
				Chris Fallin (<a href="#">0 Messages</a>)
			</p>
			<!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
		</div>
		
		{% block breadcrumbs %}
		{% endblock%}

	</section>
	<!-- end of secondary bar -->

	<aside id="sidebar" class="column">
		<form class="quick_search">
			<input type="text" value="Quick Search"
				onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
		<hr />
		<h3>Run Simulation</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="/config">New Simulation</a></li>
			<li class="icn_security"><a href="#">Condor Status</a></li>
		</ul>
		<h3>Data Management</h3>
		<ul class="toggle">
			<li class="icn_folder"><a href="#">Browse Data</a></li>
			<li class="icn_view_users"><a href="#">View Users</a></li>
		</ul>
		<h3>Data Analysis</h3>
		<ul class="toggle">
			<li class="icn_folder"><a href="/chart">Experiment Graphs</a></li>
		</ul>
		
		<!-- 
		<h3>Admin</h3>
		<ul class="toggle">
			<li class="icn_settings"><a href="#">Options</a></li>
			<li class="icn_security"><a href="#">Security</a></li>
			<li class="icn_jump_back"><a href="#">Logout</a></li>
		</ul>
		 -->
		 
		<footer>
			<hr />
			<p>
				<strong>:: Carnegie Mellon University ::</strong>
				<br />Electrical&Computer Engineering
			</p>
		</footer>
	</aside>
	<!-- end of sidebar -->

	{% block content %} {% endblock %}
</body>
</html>
