<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>Brush</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static_media/css/chart.css" />
    <link rel="stylesheet" type="text/css" href="/static_media/css/dropdown.css" />
    
    <script type="text/javascript" src="/static_media/lib/highcharts.js"></script>
    <script type="text/javascript" src="/static_media/lib/exporting.js"></script>
    <script type="text/javascript" src="/static_media/lib/d3.v2.min.js"></script>
  </head>
  <body>
	<div id="metric_id" value="{{metric}}"></div>
    
    <div id="left-panel">
	    <div id="toolbar">
	    	<div id="experiment-box" class="toolbar-box">
	    		<h3>Experiment(s)</h3>
	    		100M_np_base
	    	</div>
	    	<div id="metric-box" class="toolbar-box">
	    		<h3>Metric(s)</h3>
	    	</div>
	    	<div id="benchmark-box" class="toolbar-box">
	    		<h3>Benchmarks</h3>
	    	</div>
	    </div>
		<div id="chartbox">
			<h2>Benchmark Chart:</h2>
			<div id="container"></div>
		</div>
	</div>
	
	<div id="right-panel">
		<div id="control-panel">
			<ul class="dropdown">
			   	<li><a href="#">Metric</a>
			   		<ul id="metrics_list" class="sub_menu">
			   		</ul>
			   	</li>
		    </ul>
	    </div>
    </div>
    
  	<script type="text/javascript" src="/static_media/data/metrics.js"></script>
    <script type="text/javascript" src="/static_media/js/dropdown.js"></script>
  
    <script type="text/javascript" src="/static_media/data/{{metric}}.js"></script>
    <script type="text/javascript" src="/static_media/js/benchmark_comparison_scrolling_chart.js"></script>
    
    
  
  
	<!-- 
		
	<div class="chartbox">
		<h2>Benchmark Comparison Chart:</h2>
		<div id="container2"></div>
	</div>
	
	<div class="chartbox">
		<h2>Benchmark Comparison Chart (with scrolling):</h2>
		<div id="container3"></div>
	</div>
	
	<div class="chartbox">
		<h2>Benchmark Chart:</h2>
		<div id="container4"></div>
	</div>
	 -->
	
	
  </body>
</html>
