{% extends "base.html" %}
{% load extra_tags %}
//************************************************
// Attach page-specific javascripts
//************************************************

{% block javascript %}
    <script src="/static_media/lib/jquery.js" type="text/javascript"></script>
    <script src="/static_media/js/getQueryParams.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static_media/css/chart.css" />
    <link rel="stylesheet" type="text/css" href="/static_media/css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="/static_media/css/control.css" />
    
    <script type="text/javascript" src="/static_media/lib/highcharts.js"></script>
    <script type="text/javascript" src="/static_media/lib/exporting.js"></script>
    <script type="text/javascript" src="/static_media/lib/d3.v2.min.js"></script>
    <script type="text/javascript" src="/static_media/data/metrics.js"></script>
    
    <link rel="stylesheet" href="/static_media/css/demo_table_jui.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static_media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/static_media/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static_media/js/json_parse.js"></script>
    
    <script type="text/javascript">
	 	$("#experiment-control-panel").hide();
	 	$("#metric-control-panel").hide();
   	 	$("#benchmark-control-panel").hide();
	    $("#experiment-box").click(function() {
	    	$("#experiment-control-panel").show();
	    	$("#metric-control-panel").hide();
	    	$("#benchmark-control-panel").hide();
	    });
	    $("#metric-box").click(function() {
	    	$("#experiment-control-panel").hide();
	    	$("#metric-control-panel").show();
	    	$("#benchmark-control-panel").hide();
	    });
	    $("#benchmark-box").click(function() {
	    	$("#experiment-control-panel").hide();
	    	$("#metric-control-panel").hide();
	    	$("#benchmark-control-panel").show();
	    });
    </script>
   
	
{% endblock %}

//************************************************
// Javascripts to run on document ready
//************************************************

{% block onready %}
 metric = document.getElementById('metric_id').getAttribute('value');
 $("#metrics_list").val(metric);
 
 $('.checkall').click(
		function() {
			$(this).parents('fieldset:eq(0)').find(':checkbox')
					.attr('checked', this.checked);
});
 
 
 $('.benchmark_checkbox').each(function() {
 	if (benchmarks.indexOf(this.getAttribute('value')) > -1) {
 		$(this).attr('checked', 'yes')
	}
 })
 
var all_experiments = new Array();
$('.experiment').each(function() {
	all_experiments.push($(this).attr('value'))
})
 $('.experiment_checkbox').each(function() {
 	if (all_experiments.indexOf($(this).attr('value')) > -1) {
 		$(this).attr('checked', 'yes');
	}
 })
 
 $('#run').click(
 	function() {
 		var suite = $("select#bench").val();
 		suite = "#" + suite + 'form';
 		$(suite).find("td").each(function() {
 			$(this).find("input").attr("name",$(this).text());
 		});
 });
 

 var aSelected = [];
     
    /* Init the table */
    $("#example").dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
    });
    
    
$("#metric-link").click(function() {

    var options = { 
        url: '/getMetricsForExperiment',
        success: showResponse
    }; 
	$("#argForm").ajaxSubmit(options);

});

function showResponse(responseText, statusText, xhr, $form)  {
	responseText = responseText.replace(/\'/g,"\"").replace(/u/g,"")
	var myjsonObject = JSON.parse(responseText);
	if (myjsonObject.metrics.length == 0) {
		$("#tab2 label").hide();
		$("#metrics_list").hide();
		$("#metric-error-message").show();
	} else {
		$("#tab2 label").show();
		var metrics_list = $('#metrics_list');
		metrics_list.empty();
		for (var i=0; i < myjsonObject.metrics.length; i++) {
			var metric = myjsonObject.metrics[i];
			var metric_element = $('<option>').append(document.createTextNode(metric));
			metrics_list.append(metric_element);
		}
		metrics_list.show();
		$("#metric-error-message").hide();
	}
}

{% endblock %}

//************************************************
// Breadcrumbs
//************************************************
{% block breadcrumbs %}
<div class="breadcrumbs_container">
	<article class="breadcrumbs">
		<a href="/chart">Experiment Graphs</a>
	</article>
</div>
{% endblock %}
//************************************************
// Config block contents
//************************************************

{% block content %}
<div id="metric_id" value="{{metric}}"></div>
{% for benchmark in benchmarks %}
	<div class="benchmark" value="{{benchmark}}"></div>
{% endfor %}

{% for experiment in experiments_selected %}
	<div class="experiment" value="{{experiment}}"></div>
{% endfor %}
   
<div id="left-panel">
	<div id="chartbox">
		<div id="container"></div>
	</div>
</div>
<form id="argForm" action="" method="post">
	<article class="module width_3_quarter">
		<header><h3 class="tabs_involved">Content Manager</h3>
		<ul class="tabs">
			<li><a href="#tab1">Experiment(s)</a></li>
	   		<li><a href="#tab2" id="metric-link">Metric</a></li>
	   		<li><a href="#tab3">Benchmark(s)</a></li>
		</ul>
		</header>
		<div class="tab_container">
			
			<!-- EXPERIMENT -->
			<div id="tab1" class="tab_content">
				<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
					<thead>
						<tr>
							<th>Select</th>
							<th>Experiment Name</th>
						</tr>
					</thead>
					<tbody>
						{% for experiment in experiments %}
						<tr class="even" id="{{experiment}}_row">
							<td class="center"><input class="experiment_checkbox" type="checkbox" value="{{experiment}}" name="experiments"/></td>
							<td class="center">{{experiment}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- END EXPERIMENT -->
			
			<!-- METRIC -->
			<div id="tab2" class="tab_content">
				<label>Metric</label>
				<select style="width:92%;" id="metrics_list" name="metric">
				</select>
				<div id="metric-error-message">Please select an experiment first!</div>
			</div>
			<!-- END METRIC -->
			
			<!-- BENCHMARKS -->
			<div id="tab3" class="tab_content">
				<fieldset>
					<label> Benchmarks
						<div id="floatright">
							(Select all <input type="checkbox" class="checkall">)
						</div> </label>
	
					<table class="tablesorter" id="speccpuform">
							<tr>
							{% for bench in speccpu %}
								<td><input class="benchmark_checkbox" type="checkbox" value="{{bench}}" name="benchmarks"/><br>{{ bench }}</br></td>
								{% if not forloop.counter|mod:5 %}
									</tr><tr>
								{% endif %}
							{% endfor %}
							</tr>
					</table>
				</fieldset>
			</div>
			<!-- END BENCHMARKS -->
			
		</div><!-- end of .tab_container -->
	</article>
	<input type="submit" id="run" value="Refresh Graph">
</form>

{% for experiment in experiments %}
   	<script type="text/javascript" src="/static_media/data/{{experiment}}/{{metric}}.js"></script>
{% endfor %}
<script type="text/javascript" src="/static_media/js/benchmark_comparison_scrolling_chart.js"></script>
{% endblock %}
