{% extends "base.html" %}

//************************************************
// Attach page-specific javascripts
//************************************************

{% block javascript %}

{% endblock %}

//************************************************
// Javascripts to run on document ready
//************************************************

{% block onready %}

{% endblock %}


//************************************************
// Breadcrumbs
//************************************************
{% block breadcrumbs %}

{% endblock %}

//************************************************
// Config block contents
//************************************************

{% block content %}
<section id="main" class="column">
	<form name="argForm" id="argForm" action="" method="post">
		<fieldset>
				<label>Path to submission folder</label> 
				<input type="text" name="subName" id="subName" value="" />
				<label>Name of experiment to parse</label> 
				<input type="text" name="expName" id="expName" value="" />
		</fieldset>
		<fieldset>
				<label>Name of Metric</label> 
				<input type="text" name="metric" id="metric" value="" />
				<label>Metric Type</label> <select id="bench" name="metrictype">
					<option value="HISTOGRAM">Histogram</option>
					<option value="SCATTERPLOT">Scatter Plot</option>
				</select>
		</fieldset>
		
		<input type="submit" name="run" value="Parse" />
	</form>
</section>
{% endblock %}
