#left-panel {
	display:inline-block;
}

#chartbox {
	display:inline-block;
	margin-top: 50px;
}

.chart rect {
	font: 10px sans-serif;
	fill: steelBlue;
	stroke: black;
  	text-align: right;
  	padding: 3px;
  	margin: 1px;
  	color: black;
}
