#left-panel {
	display:inline-block;
}

#container {
	display:inline;
	margin-top: 50px;
	width: 75%;
}

.chart rect {
	font: 10px sans-serif;
	fill: steelBlue;
	stroke: black;
  	text-align: right;
  	padding: 3px;
  	margin: 1px;
  	color: black;
}

#metric-error-message {
	font: 20px helvetica sans-serif;
	text-align: center;
	margin: 10px;
	color: red;
}
