* 									{ margin: 0; padding: 0; }
body								{ font: 15px Helvetica, Sans-Serif; } 
html                                { overflow-y: scroll; }
#page-wrap							{ width: 720px; margin: 25px auto; } 
p                                   { margin: 0 0 8px 0; }
a									{ text-decoration: none; }
ul									{ list-style: none; }
h1                                  { margin: 0 0 10px 0; }

/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; width: 100%; }
ul.dropdown li                      { height: 40px; font-weight: bold; float: left; width: 240px; background: #ccc; position: relative; }
ul.dropdown a						{ height: 40px; }
ul.dropdown a:hover		            { height: 40px; color: #000; }
ul.dropdown li a                    { height: 40px; display: block; color: #000; position: relative; z-index: 2000; }
ul.dropdown li a:hover,
ul.dropdown li a.hover              { height: 40px; background: #F3D673; position: relative; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ display: none; position: absolute; top: 0; left: 0; width: 240px; z-index: 1000; }
ul.dropdown ul li 					{ height: 40px; font-weight: normal; background: #f6f6f6; color: #000; border-bottom: 1px solid #ccc; }
ul.dropdown ul li a					{ display: block; background: #eee !important; } 
ul.dropdown ul li a:hover			{ display: block; background: #F3D673 !important; }